<div class="flex bg-gray-100 border-b border-gray-200 z-100 pt-3 pb-3 items-center">
  <div class="w-full max-w-screen-xl relative mx-auto px-5">
    <div class="flex lg:justify-between">

      <div class="lg:w-1/4 xl:w-1/5 pl-6 pr-6 lg:pr-8 my-auto flex">
        <a href="/" class="block lg:mr-4 hover:text-red-500 text-center">AnimatedGif.me</a>
      </div>

      <div class="flex my-auto w-full pl-6 pr-6">
        <div class="relative w-full">
          <%= text_field_tag nil, nil, placeholder: "Search gifs (Press / to focus)",class:"form-control rounded shadow text-sm w-full", data: {controller: "search", action: "keypress@window->search#focus", target: "search.field"} %>
        </div>
      </div>      

      <div class="lg:w-1/4 xl:w-1/2 pl-6 my-auto flex">
        <div>
          <% if user_signed_in? %>
            <%= link_to "My Gif's ", current_user, class: "hover:text-pink-300"%>|
            <%= link_to 'New Gif ', new_gif_path, class: "hover:text-pink-400"%>|
            <%= link_to " My account ", edit_user_registration_path, class: "hover:text-pink-600" %>|
            <%= link_to "Sign-out", destroy_user_session_path, method: :delete , class: "hover:text-pink-800"%>
          <% else %>
            <%= link_to "Sign-up | ", new_user_registration_path, class: "hover:text-pink-300" %>
            <%= link_to "Login", new_user_session_path, class: "hover:text-pink-400" %>
          <% end %>         
        </div>
      </div>

    </div>
  </div>
</div>
